body {
	background-image: url("iso.png");
	background:0.5;
}

.mainly{
	display: flex;
	justify-content: space-between;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 30px;
	float:left;
	color: black;
}

p{
	text-decoration-color: red;
}

h1 {
	font-size: 30px;
	text-align: center;
	color: red;s
	border: 3px white ridge;
}

header{
	background-color: rgb(255, 255, 206);
}

h1{
	background-color: rgb(255, 255, 206);
}

nav
{
	color: red;
	position: center;
	font-size: 23px;
	object-position: left;
}

h3{
	color: blue;
	font-size: 30px;
	justify-content: center;
}

aside
{
	font-size: 20px;
}
.flexdéo{
	display: flex;
	justify-content: space-between;
	margin: 30px;
}

details{
	font-size: 20px;
}